.button {
	width: 70px;
    line-height: 30px;
    background-color: #3498db;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.button:hover {
	background-color: #2980b9;
}

.delete-button {
	background-color: #e74c3c !important;
}

.courses-button {
	background-color: #1abc9c;
}

.courses-button:hover {
	background-color: #16a085;
}

.delete-button:hover {
	background-color: #c0392b !important;
}

