table {
	margin: 30px auto 0px;
	border-bottom: 2px solid #3498db;
	border-collapse: collapse;
	font-size: 18px;
}

thead {
	height: 1.5em;
	text-align: left;
	
}

th {
	background-color: #2c3e50;
	color: white;
}

th,td {
	width: 15vw;
	padding-left: 0.3em;
}

#table-top-left {
	border-top-left-radius: 8px;
}

#table-top-right {
	border-top-right-radius: 8px;
}

tr {
	height: 47px;
	background-color: #ecf0f1;
}


tr:nth-child(even) {
	background-color: #ffffff;
}

tr:hover {
	background-color: #bdc3c7;
}

.long-cell {
	width: 20vw !important;
}

.longer-cell {
	width: 25vw !important;
	min-width: 200px !important;
}

.short-cell {
	width: 10vw;
}
